<ion-view title="Bill" id="page17" style="">
    <ion-content padding="true" class="has-header">
        <div id="bill-container13">
            <ion-list id="bill-list24">
                <ion-item id="bill-list-item49" style="">Pizza
                    <span class="item-note">1 x $900</span>
                </ion-item>
                <ion-item id="bill-list-item50" style="">Birra
                    <span class="item-note">2 x $100</span>
                </ion-item>
                <ion-item id="bill-list-item51" style="">Total
                    <span class="item-note">$1100</span>
                </ion-item>
            </ion-list>
        </div>
        <div id="bill-button-bar7" class="button-bar">
            <a ui-sref="opinion" id="bill-button33" class="button button-positive  button-block">Opinion</a>
            <a ui-sref="tabsController.desserts_tab3" id="bill-button35" class="button button-positive  button-block">FInish</a>
        </div>
    </ion-content>
</ion-view>