<ion-view title="Checkout" id="page15" style="">
    <ion-content padding="true" class="has-header">
        <div id="checkout-container12">
            <ion-list id="checkout-list23">
                <ion-item class="item-divider" id="checkout-list-item-divider15">Item</ion-item>
                <div class="item item-body" id="checkout-list-item-container7" style="">
                    <h2 id="checkout-heading2" style="color: rgb(0, 0, 0);">Pizza</h2>
                    <form id="checkout-form4" class="list">
                        <div id="checkout-markdown17" style="color:#000000;">
                            <p style="margin-top:0px;">Cantidad: 3</p>

                            <p>Price: 999</p>
                        </div>
                        <label class="item item-select" id="checkout-select1">
                            <span class="input-label">Owner</span>
                            <select>
                                <option>Jimena</option>
                                <option>Tavo</option>
                                <option>Yose</option>
                                <option>Daniel</option>
                            </select>
                        </label>
                    </form>
                </div>
                <div class="item item-body" id="checkout-list-item-container8" style="">
                    <h2 id="checkout-heading3" style="color: rgb(0, 0, 0);">Birra</h2>
                    <form id="checkout-form5" class="list">
                        <div id="checkout-markdown19" style="color:#000000;">
                            <p style="margin-top:0px;">Cantidad: 4</p>

                            <p>Price: 999</p>
                        </div>
                        <label class="item item-select" id="checkout-select2">
                            <span class="input-label">Owner</span>
                            <select>
                                <option>Jimena</option>
                                <option>Tavo</option>
                                <option>Yose</option>
                                <option>Daniel</option>
                            </select>
                        </label>
                    </form>
                </div>
            </ion-list>
        </div>
        <a ui-sref="bill" id="checkout-button23" class="button button-positive  button-block">Pagar</a>
    </ion-content>
</ion-view>