<ion-view title="Desserts" id="page2" style="">
    <ion-content padding="true" class="has-header">
        <div id="desserts-container2">
            <ion-list id="desserts-list2">
                <ion-item class="item-thumbnail-left" ng-repeat="dish in menu" ui-sref="menuItem({id:dish.id})">
                    <h2>{{dish.title}}</h2>
                    <p style="white-space:normal;">
                        {{dish.summary}}
                    </p>
                    <p style="white-space:normal;">
                        Price:{{dish.price}}
                    </p>
                </ion-item>
                <ion-item class="item-divider" id="desserts-list-item-divider2">fin lista</ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
