<ion-view title="Dish status" id="page19" style="">
    <ion-content padding="true" class="has-header">
        <ion-list id="dishStatus-list26">
            <ion-item class="item-icon-left" id="dishStatus-list-item54" style="">
                <i class="icon ion-checkmark"></i>Preparar Salsa
                <span class="item-note">Tiempo: 12min</span>
            </ion-item>
            <ion-item class="item-icon-left" id="dishStatus-list-item55" style="">
                <i class="icon ion-clock"></i>Hornear</ion-item>
        </ion-list>
    </ion-content>
</ion-view>