<ion-view title="Drinks" id="page7" style="">
    <ion-content padding="true" class="has-header">
        <div id="drinks-container4">
            <ion-list id="drinks-list4">
                <ion-item class="item-divider" id="drinks-list-item-divider7">Item</ion-item>
                <ion-item id="drinks-list-item17" style="">Item 1</ion-item>
                <ion-item class="item-divider" id="drinks-list-item-divider8">Item</ion-item>
                <ion-item id="drinks-list-item18" style="">Item 2</ion-item>
                <ion-item class="item-divider" id="drinks-list-item-divider9">Item</ion-item>
                <ion-item id="drinks-list-item19" style="">Item 3</ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>