<ion-view style="">
    <ion-nav-title>{{dish.title}}</ion-nav-title>
    <ion-content padding="true" class="has-header">
        <div >
            <div>
                <img src="img/5xBSRCQ8TIyM9lNzKliC_Helados.jpg" style="display: block; margin-left: auto; margin-right: auto;" width="100%" height="auto">
            </div>
            <div style="color:#000000;">
                <p>Helados organicos</p>
            </div>
            <div style="color:#000000;">
                <p>Price:{{dish.price}}</p>
            </div>
        </div>
        <div  class="button-bar">
            <a ui-sref="tabsController.icecreamRecipe" class="button button-positive  button-block">Ver receta</a>
            <button  class="button button-positive  button-block">Ordenar</button>
        </div>
    </ion-content>
</ion-view>
