<ion-view title="Icecream" id="page11" style="">
    <ion-content padding="true" class="has-header">
        <div id="icecream-container10">
            <div>
                <img src="img/5xBSRCQ8TIyM9lNzKliC_Helados.jpg" style="display: block; margin-left: auto; margin-right: auto;" width="100%" height="auto">
            </div>
            <div id="icecream-markdown14" style="color:#000000;">
                <p>Helados organicos</p>
            </div>
            <div id="icecream-markdown15" style="color:#000000;">
                <p>Precio:100</p>
            </div>
        </div>
        <div id="icecream-button-bar5" class="button-bar">
            <a ui-sref="tabsController.icecreamRecipe" id="icecream-button12" class="button button-positive  button-block">Ver receta</a>
            <button id="icecream-button13" class="button button-positive  button-block">Ordenar</button>
        </div>
    </ion-content>
</ion-view>