<ion-view title="Icecream Recipe" id="page10" style="">
    <ion-content padding="true" class="has-header">
        <ion-list >
            <div class="item item-body" id="icecreamRecipe-list-item-container2" style="">
                <ion-list id="icecreamRecipe-list17">
                    <ion-item class="item-divider" id="icecreamRecipe-list-item-divider10">Ingredientes</ion-item>
                    <ion-item id="icecreamRecipe-list-item27" style="">Papas</ion-item>
                    <ion-item id="icecreamRecipe-list-item40" style="">Leche</ion-item>
                </ion-list>
            </div>
            <div class="item item-body"style="">
                <ion-list  ng-repeat="steps in dish.recipie" >
                    <ion-item class="item-divider">{{step.title}}</ion-item>
                    <ion-item style="">step.instruction</ion-item>
                    <ion-item style="">Estimated time: {{step.estimatedTime}}</ion-item>
                </ion-list>
            </div>
        </ion-list>
        <div id="icecreamRecipe-container9" class="creator-container"></div>
    </ion-content>
</ion-view>
