<ion-view title="Login" id="page13" style="">
    <ion-content padding="true" class="has-header">
        <form id="login-form3" class="list">
            <ion-list id="login-list21">
                <label class="item item-input" id="login-input6">
                    <span class="input-label">Username</span>
                    <input placeholder="" type="text">
                </label>
                <label class="item item-input" id="login-input7">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.desserts_tab4" id="login-button18" class="button button-stable  button-block">Log in</a>
            <a ui-sref="signup" id="login-button19" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>