<ion-header-bar class="bar-positive" align-title="center">
   <h1 class="title">Login</h1>
</ion-header-bar>
<ion-view title="Login" id="page13" style="" hide-nav-bar="true">
   <ion-content padding="true" class="has-header">
      <form ng-submit="submitForm(user)">
         <ion-list>
            <ion-item class="item-input">
               <input type="text" ng-model="user.username" placeholder="Username">
            </ion-item>
            <ion-item class="item-input">
               <input type="text" ng-model="user.tableCode" placeholder="Table code"></textarea>
            </ion-item>
            <input type="submit" class="button button-block button-positive" value="Submit">
         </ion-list>

      </form>

      <ion-item ng-controller="lectorctrl.scannerctrl">
         <button ng-click="leer()" class="button button-block button-positive">
            Scan table code
         </button>
      </ion-item>
   </ion-view>
