<ion-view title="Menu item" id="page9" style="">
    <ion-content padding="true" class="has-header">
        <ion-list id="menuItem-list6">
            <ion-item class="item-thumbnail-left" id="menuItem-list-item23" style="">
                <img src="img/d6Wu8QhCjKDa6sewNaQi_Pepperoni_pizza.jpg">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <div id="menuItem-container6">
            <div id="menuItem-markdown5" style="color:#000000;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <div id="menuItem-button-bar3" class="button-bar">
                <button id="menuItem-button15" class="button button-positive  button-block">Check Recipie</button>
                <button id="menuItem-button16" class="button button-positive  button-block">Add to cart</button>
            </div>
        </div>
    </ion-content>
</ion-view>