<ion-view  style="">
    <ion-nav-title>{{order.dish.name}}</ion-nav-title>

    <ion-content padding="true" class="has-header">
        <div >

            <div  style="color:#000000;">
                <p>{{order.dish.summary}}</p>
            </div>
            <div  style="color:#000000;">
                <p>Price:{{order.dish.price}}</p>
            </div>
            <div  style="color:#000000;">
                <p>Estimated time:{{order.dish.prepTime}}</p>
            </div>
        </div>
        <ion-list>
            <ion-item class="item-divider">
                <h2> Ingredients</h2>
            </ion-item>

            <ion-item ng-repeat="ingredient in order.dish.ingredientsList">
                {{ingredient.name}}
            </ion-item>
        </ion-list>
        <divclass="button-bar">
        <a ui-sref="itemRecipe({id:dish.id})" class="button button-positive  button-block">View recipe</a>
        <button  class="button button-positive  button-block" ng-click="openModal()">Order</button>


    </div>
</ion-content>
</ion-view>
