<ion-view title="Opinion" id="page18" style="">
    <ion-content padding="true" class="has-header">
        <form id="opinion-form6" class="list">
            <label class="item item-input item-stacked-label" id="opinion-input8">
                <span class="input-label">Input</span>
                <input placeholder="Your opinion" type="text">
            </label>
            <ion-item class="range range-positive" id="opinion-range2">Value
                <input value="50" min="0" max="100" step="1" type="range">
            </ion-item>
        </form>
        <div id="opinion-button-bar6" class="button-bar">
            <a ui-sref="tabsController.desserts_tab3" id="opinion-button30" class="button button-positive  button-block">Cancel</a>
            <a ui-sref="tabsController.desserts_tab3" id="opinion-button32" class="button button-positive  button-block">Send</a>
        </div>
    </ion-content>
</ion-view>