<ion-view title="Order status" id="page14" style="">
    <ion-content padding="true" class="has-header">
        <div id="orderStatus-container14">
            <ion-list>
                <ion-item ng-repeat="order in orders">
                    <ion-list>
                        <ion-item ng-repeat="suborder in order.suborders">
                            {{suborder.name}}
                            <ion-list>
                                <ion-item class="item item-icon-left" ng-repeat="stepComb in suborder.steps">
                                    <i class={{getIcon(stepComb.completed)}}></i>
                                    <h2>{{stepComb.step.title}}</h2>
                                    <p style="white-space:normal;">
                                        Estimated time:{{stepComb.step.time}}
                                    </p>
                                </ion-item>
                            </ion-list>
                        </ion-item>
                    </ion-list>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
