<ion-view title="Order status" id="page14" style="">
    <ion-content padding="true" class="has-header">
        <div id="orderStatus-container14">
            <ion-list>
                <ion-item ng-repeat="order in orders">
                    <ion-list>
                        <ion-item ng-repeat="suborder in order.suborders">
                            {{suborder.name}}
                            <ion-list>
                                <ion-item ng-repeat="stepComb in suborder.steps">
                                    <h2>{{stepComb.step.title}}</h2>
                                    <p style="white-space:normal;">
                                        Estimated time:{{stepComb.step.time}}
                                    </p>
                                    <p style="white-space:normal;">
                                        Completed:  {{stepComb.completed}}
                                    </p>
                                </ion-item>
                            </ion-list>
                        </ion-item>
                    </ion-list>
                </ion-item>
            </ion-list>



            <ion-list id="orderStatus-list25">
                <ion-item class="item-icon-left" id="orderStatus-list-item52" ui-sref="dishStatus" style="">
                    <i class="icon ion-checkmark"></i>PIzza
                    <span class="item-note">2</span>
                    <ion-option-button class="button-royal">Delete</ion-option-button>
                    <ion-option-button class="button-positive">Cancel</ion-option-button>
                </ion-item>
                <ion-item class="item-icon-left" id="orderStatus-list-item53" style="">
                    <i class="icon ion-clock"></i>Birra
                    <span class="item-note">3</span>
                    <ion-option-button class="button-positive">test Swipe1</ion-option-button>
                    <ion-option-button class="button-dark">test Swipe1</ion-option-button>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
