<ion-view title="Table" id="page16" style="">
    <ion-content padding="true" class="has-header">
        <h1 id="table-heading1" style="color: rgb(0, 0, 0);">Table number 1</h1>
        <div id="table-container11">
            <ion-list id="table-list22">
                <ion-item class="item-divider" id="table-list-item-divider14">Item</ion-item>
                <ion-item id="table-list-item41" style="">Jimena</ion-item>
                <ion-item id="table-list-item42" style="">Tavo</ion-item>
                <ion-item id="table-list-item43" style="">Yose</ion-item>
                <ion-item id="table-list-item44" style="">Daniel</ion-item>

                <ion-item ng-controller="lectorctrl.scannerctrl">


                <button ng-click="leer()" class="button button-block button-positive"
                > Scan </button>
               </ion-item>
            </ion-list>

        </div>
    </ion-content>
</ion-view>
