<ion-view title="User"  id="page20" style="">
    <ion-content padding="true" class="has-header">
        <h1 style="color: rgb(0, 0, 0);">Table number 1</h1>
        <div>
            <ion-list >
                <ion-item class="item-divider">Data</ion-item>
                <ion-item  style="">{{user.username}}</ion-item>
                <ion-item  style="">{{user.password}}</ion-item>
                <ion-item  style="">{{user.tableCode}}</ion-item>
                <ion-item style="">{{user.token}}</ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
